*
{
    box-sizing: border-box;
    font-family: roboto;
    /* border: thin black solid; */
}

body
{
    /* for growing */
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: center;
}

/* design */
nav, header
{
    background-color: #1F2937;
}

.main-text
{
    font-size: 48px;
    font-weight: 800;
    color:#F9FAF8;
}

.secondary-text, nav ul li a
{
    font-size: 18px;
    color:  #E5E7eb;
    text-decoration: none;
}
nav .logo
{
    font-size: 24px;
    color:#F9FAF8;
}
button, .contact-info
{
    background-color: #3882F6;
}

.information h1
{
    font-size: 36px;
    font-weight: 800;
    color: #1F2937; 
}

.quote
{
    background-color: #E5E7eb;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
}

.border-round
{
    border: thick #3882f6 solid;
}

/* margin + padding and custom flex */
nav
{
    padding: 32px;
}
nav ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}

header
{
    flex: 1;
    padding: 48px;
}

.information
{
    flex: 1;
    padding: 48px;
    text-align: center;
}

.quote
{
    flex: 1;
}

.quote .name-quote
{
    align-self: flex-end;
    font-style:normal;
    font-size: 32px;
    font-weight: bold;
}

.contact-info
{
    flex: 1;
}

.border-round
{
    border-radius: 25px;
    overflow: hidden;
}
.card img
{
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

/* flex classes */

/* width container */
.container-fluid
{
    width: 100%;
}

.container
{
    width: 75%;
    height: 100%;
}

/* flex */
.flexbox
{
    display: flex;
}

/* direction and wrap */
.flex-column
{
    flex-direction: column;
}

.flex-wrap
{
    flex-wrap: wrap;
}

/* justify content */
.justify-center
{
    justify-content: center;
}

.justify-between
{
    justify-content: space-between;
}

.justify-around
{
    justify-content: space-around;
}

.align-items-center
{
    align-items: center;
}

